body {
    margin: 0;
    padding: 0;
}

#container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* should be 10 units across, 40px units */
#board {
    position: relative;
    margin: 0;
    padding: 0;
    height: 640px;
    width: 640px;
    background-color:white;
    /* border: 1px solid black; */
}
/* 
#test {
    bottom: 0px;
    left: 0px;
} */

.blank {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
}

.active {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: purple;
    border: 1px solid black;
}

.static {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: pink;
    border: 1px solid black;
}