body {
    margin: 0;
    padding: 0;
    background-color: cyan;
    background-image: url('images/palmtrees.jpg');
    opacity: 0.9;
}

#container {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#score {
    text-align: center;
    color: #ff6ec7;
    font-size: 30px;
    font-weight: bold;
    background-color: cyan;
    width: 8rem;
}

/* should be 10 units across, 40px units */
#board {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    height: 680px; 
    width: 640px;
    background-color: cyan;
    /* border: 1px solid black; */
}
/* 
#test {
    bottom: 0px;
    left: 0px;
} */

.blank {
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: cyan;
    border: 1px solid black;
}

.active {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: purple;
    /* border: 1px solid white; */
}

.static {
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: grey;
    /* border: 1px solid white; */
}